<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="posts">
        <% @post.each do |post| %>
        <div class="post clearfix">
          <div class="post-details">
            <span class="post-title" data-toggle="tooltip" title="Ver Post..."><strong><%= link_to post.title, post %></strong></span>
            <% if post.voted_by? current_user %>
              <%= link_to post_vote_path(post), method: :delete, class: "post-upvote upvote-active" do %>
                <span class="upvote-arrow" data-toggle="tooltip" title="Votar"></span>
                <span class="upvote-count" data-toggle="tooltip" title="No.Votos"><%= post.votes.count %></span>
              <% end %>
            <% else %>
              <%= link_to post_vote_path(post), method: :post, class: "post-upvote" do %>
                <span class="upvote-arrow" data-toggle="tooltip" title="Votar"></span>
                <span class="upvote-count" data-toggle="tooltip" title="No.Votos"><%= post.votes.count %></span>
              <% end %>
            <% end %>
            <span class="post-author">Publicado por <%= post.user.email %> hace <%= ((Time.now - post.created_at)/86400).to_i %> Dias</span>
            <span class="post-description" ><%= truncate(strip_tags( markdown(post.content) ), :length => 250 , :seperator => ' ') %><%= link_to "Ver mas", post %></span>
            <div class="actions">
            <% if signed_in? && post.user == current_user %>
              <%= link_to "<span class='glyphicon glyphicon-pencil' data-toggle='tooltip' title='Editar post'><span>".html_safe, edit_post_path(post), class: "edit-post-btn" %>
              <%= link_to "<span class='glyphicon glyphicon-trash' data-toggle='tooltip' title='Eliminar post'><span>".html_safe, post, method: :delete, data: { confirm: "¿Estás seguro de eliminar este Post?" }, class: "destroy-room-btn" %>
            <% end %>
              <span class="glyphicon glyphicon-comment" data-toggle='tooltip' title='Comentarios'></span>
              <span class="comment-count" data-toggle='tooltip' title='Numero de Comentarios'><%= post.comments.count %></span>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
