<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="posts">
        <% @post.each do |post| %>
        <div class="post clearfix">
          <div class="post-details">
            <span class="post-title" data-toggle="tooltip" title="Ver Post..."><%= link_to post.title, post %></span>
            <span class="post-author">Publicado por <%= post.email %> hace <%= post.created_at %></span>
            <span class="post-description"><%= post.content %></span>
            <% if signed_in? %>
              <%= link_to "<span class='glyphicon glyphicon-pencil' data-toggle='tooltip' title='Editar post'><span>".html_safe, edit_post_path(post), class: "edit-post-btn" %>
              <%= link_to "<span class='glyphicon glyphicon-trash' data-toggle='tooltip' title='Eliminar post'><span>".html_safe, post, method: :delete, data: { confirm: "¿Estás seguro de eliminar esta habitación?" }, class: "destroy-room-btn" %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
