<div class="post-page">
  <div class="col-sm-8 col-sm-offset-2">
    <header class="post-header">
      <h1><%= @post.title %></h1>
      <p><%= @post.content %></p>
    </header>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="votes">
          <h2>Votos</h2>
        </div>

        <div class="comments">
          <h2>Comentarios</h2>
          <% @post.comments.each do |comment| %>
            <div class="panel panel-default">
              <header class="panel-heading"><img src="<%= Gravatar.new("#{comment.user.email}").image_url %>" class="img-circle" /> <%= comment.user.email %></header>
              <div class="panel-body"><%= comment.body %></div>
            </div>
          <% end %>

          <% if signed_in? %>
            <%= form_for [@post, @post.comments.build] do |f| %>
              <div class="form-group">
                <%= f.text_area :body, class: "form-control", placeholder: "Agregar comentario" %>
              </div>

              <div class="actions text-right">
                <%= f.submit "Comentar", class: "btn btn-primary" %>
              </div>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
